{% extends 'BusTracking/basics.html' %}

{% block title %}About Us-Mall.in{% endblock %}   


{% block css %}
<style>

    .container1{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top:50px;
        margin: 20px;
        padding: 20px;
    }

    .display1{
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock %}   



{% block body %}



<main role="main">

    <div class="jumbotron">
      <div class="container1 display1">
        <h1 class="display-3">Bus.in!</h1>
            <p>BlueBus is the world's largest online bus ticket booking service trusted by over 25 million happy customers globally. BlueBus offers bus ticket booking through its website,iOS and Android mobile apps for all major routes.

              Founded in 2006, BlueBus is part of India’s leading online travel company MakeMyTrip Limited (NASDAQ: MMYT). By providing widest choice, superior customer service, lowest prices and unmatched benefits, redBus has served over 18 million customers. BlueBus has a global presence with operations across Indonesia, Singapore, Malaysia, Colombia and Peru apart from India.
              </p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more »</a></p>
      </div>
    </div>
  
      
  </main>
  
  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  
  <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
  
  <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
  


  {% endblock %}  

